.container {
  background: var(--very-pale-blue);
  height: 100vh;
  position: relative;
}

.customShapeDividerTop1657075072 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.customShapeDividerTop1657075072 svg {
  position: relative;
  display: block;
  width: calc(157% + 1.3px);
  height: 271px;
}

.shapeFill {
  fill: var(--pale-blue);
}

.orderCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 380px;
  height: auto;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.summaryWrapper {
  padding: 25px;
}

.heading {
  color: var(--dark-blue);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.description {
  text-align: center;
  font-size: 16px;
  color: var(--desaturate-blue);
  padding-bottom: 15px;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.itemWrapper {
  background-color: var(--very-pale-blue);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 25px;
}

.planInfoWrapper {
  display: flex;
  align-items: stretch;
}

.planInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 20px;
}

.name {
  font-weight: 700;
  color: var(--dark-blue);
}

.price {
  color: var(--desaturate-blue);
}

.action {
  font-weight: 700;
  color: var(--bright-blue);
}

.action:hover {
  text-decoration: none;
  opacity: 0.6;
}

.paymentBtn {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  background-color: var(--bright-blue);
  color: #fff;
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  box-shadow: 0 12px 15px rgb(56, 41, 224, 0.3);
}

.paymentBtn:hover {
  opacity: 0.6;
}

.cancel {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

.cancelText {
  font-weight: 700;
  color: var(--desaturate-blue);
  display: inline-block;
  cursor: pointer;
}

.cancelText:hover {
  color: var(--dark-blue);
}

@media (max-width: 440px) {
  .orderCard {
    width: 300px;
  }

  .summaryWrapper {
    padding: 15px;
  }

  .heading {
    font-size: 22px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .description {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .itemWrapper {
    padding: 12px;
    margin-bottom: 15px;
    font-size: 95%;
  }

  .paymentBtn {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
  }

  .cancel {
    margin-top: 18px;
    margin-bottom: 10px;
  }

  .cancelText {
    font-size: 90%;
  }
}

@media (max-width: 320px) {
  .orderCard {
    width: 220px;
    border-radius: 10px;
  }

  .itemWrapper {
    flex-direction: column;
  }

  .planInfoWrapper {
    flex-direction: column;
  }
}
